.scheduleContainer {
	padding: 20px 10px 80px 10px;
	display: flex;
	flex-direction: column;
}

.confrenceContainer {
	display: flex;
	flex-direction: column;
}

.scheduleHeader {
	color: rgb(100,100,100);
	margin: 10px 5px;
}

.daySection {
	margin: 20px;
}

.confrence {
	flex: 1;
}

.standingDate {
	margin: 8px 0px;
	font-size: 1.1em;
	color: rgb(100,100,100);
}

.scheduleSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.scheduleTeams {
	border-right: solid 1px rgb(224, 224, 224);
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	flex: 60;
}

.scheduleDateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 40;
}

.scheduleTeam {
	display: flex;
	align-items: center;
}

.scheduleTeam img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.scheduleTeamName {
	margin: 0px 10px;
}

.scheduleContainer table {
	border-collapse: collapse;
	width: 100%;
}

.scheduleContainer table:nth-child(2) {
	margin-top: 30px;
}

.scheduleContainer table img {
	width: 24px;
}

.scheduleContainer table th, td {
	padding: 8px 5px;
	border-bottom: 1px solid rgb(223, 225, 229);
}

.standings th {
	font-weight: normal;
	text-align: left;
}

.standings td:nth-child(2) {
	width: 70%;
}

.standings tr:nth-child(n+1):hover {
	background-color: rgb(245, 245, 245);
}

.standings tr:nth-child(n+1) {
	cursor: pointer;
}

.standings th:nth-child(n+2), td:nth-child(n+3) {
	text-align: center;
}

.dayContainer {
	margin-top: 30px;
}

h3.gameHeader {
	color: rgb(100,100,100);
	text-align: center;
}

.gameContainer {
	display: flex;
	align-items: center;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(223, 225, 229);
	width: 100%;
}

.gameContainer:nth-child(2) {
	border-top: 1px solid rgb(223, 225, 229);
}

.gameContainer:nth-child(2n) {
	background-color: rgb(243 243 243);
}

.gameTime {
	white-space: nowrap;
	margin-left: 10px;
}

.gameTeamContainer {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: center;
}

.gameTeam {
	width: 80px;
	margin: 0px 5px;
}

.gameTeam:nth-child(1) {
	text-align: right;
}

.gameTeam div:nth-child(2) {
	font-size: 0.79em;
	color: rgb(137 137 137);
}

.gameWinner {
	width: 23px;
	text-align: center;
}

.gameContainer img {
	width: 24px;
}

.gameContainer svg {
	width: 13px;
}

.gameSplit {
	font-size: 18px;
	font-family: Trebuchet MS;
}

.statsContainer {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 5;
}

.teamStats {
	width: 95%;
	border-collapse: collapse;
}

.teamStats th {
	border-bottom: solid 1px rgb(224, 224, 224);
	font-weight: normal;
}

.teamStats th, .teamStats td {
	padding: 8px 5px;
}

.teamStats th:nth-child(2) {
	text-align: left;
}

.teamStats td:nth-child(1), .teamStats td:nth-child(n+3) {
	text-align: center;
}

.teamStats td {
	font-size: 0.85em;
	cursor: pointer;
}

.popup .viewPlayerTable {
	margin: 30px 0px;
	border-collapse: collapse;
}

.popup .viewPlayerTable td:first-child {
	text-align: left;
}

.popup .viewPlayerTable td:nth-child(n+1) {
	text-align: center;
}

.popup .viewPlayerTable tr:nth-child(2n) {
	background-color: rgb(224 224 224);
}

@media (min-width: 600px) {
	.scheduleContainer {
		max-width: 800px;
		min-width: 600px;
	}

	.confrenceContainer {
		flex-direction: row;
	}
	
	.scheduleContainer table:nth-child(2) {
		margin-top: 0px;
	}

}