.scheduleContainer {
	padding: 20px 10px 80px 10px;
	display: flex;
	flex-direction: column;
}

.confrenceContainer {
	display: flex;
	flex-direction: column;
}

.scheduleHeader {
	color: rgb(100,100,100);
	margin: 10px 5px;
}

.daySection {
	margin: 20px;
}

.confrence {
	flex: 1;
}

.standingDate {
	margin: 8px 0px;
	font-size: 1.1em;
	color: rgb(100,100,100);
}

.scheduleSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.scheduleTeams {
	border-right: solid 1px rgb(224, 224, 224);
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	flex: 60;
}

.scheduleDateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 40;
}

.scheduleTeam {
	display: flex;
	align-items: center;
}

.scheduleTeam img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.scheduleTeamName {
	margin: 0px 10px;
}

.scheduleContainer table {
	border-collapse: collapse;
	width: 100%;
}

.scheduleContainer table img {
	width: 24px;
}

.scheduleContainer table th, td {
	padding: 8px 5px;
	border-bottom: 1px solid rgb(223, 225, 229);
}

.standings th {
	font-weight: normal;
	text-align: left;
}

.standings td:nth-child(2) {
	width: 70%;
}

.standings tr:nth-child(n+1):hover {
	background-color: rgb(245, 245, 245);
}

.standings tr:nth-child(n+1) {
	cursor: pointer;
}

.standings th:nth-child(n+2), td:nth-child(n+3) {
	text-align: center;
}

.dayContainer {
	margin-top: 30px;
}

h3.gameHeader {
	color: rgb(100,100,100);
	text-align: center;
}

.gameContainer {
	display: flex;
	align-items: center;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(223, 225, 229);
	width: 100%;
}

.gameContainer:nth-child(2) {
	border-top: 1px solid rgb(223, 225, 229);
}

.gameContainer:nth-child(2n) {
	background-color: rgb(243 243 243);
}

.gameTime {
	white-space: nowrap;
}

.gameTeamContainer {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: center;
}

.gameTeam {
	width: 70px;
	margin: 0px 15px;
}

.gameTeam:nth-child(1) {
	text-align: right;
}

.gameTeam div:nth-child(2) {
	font-size: 0.79em;
	color: rgb(137 137 137);
}

.gameWinner {
	width: 30px;
	text-align: center;
}

.gameContainer img {
	width: 24px;
}

.gameContainer svg {
	width: 13px;
}

.gameSplit {
	font-size: 18px;
	font-family: Trebuchet MS;
}

.statsContainer {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 5;
}

.teamStats {
	width: 95%;
	border-collapse: collapse;
}

.teamStats th {
	border-bottom: solid 1px rgb(224, 224, 224);
	font-weight: normal;
}

.teamStats th, .teamStats td {
	padding: 8px 5px;
}

.teamStats th:nth-child(2) {
	text-align: left;
}

.teamStats td:nth-child(1), .teamStats td:nth-child(n+3) {
	text-align: center;
}

.teamStats td {
	font-size: 0.85em;
	cursor: pointer;
}

.popupBackground {
	position: absolute;
	background-color: rgb(0 0 0 / 67%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.popupBackground.active {
	display: flex;
}

.popup {
	position: fixed;
	background-color: white;
	flex: 1;
	box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 10%);
	flex-direction: column;
}

.popupHeader {
	background-color: rgb(246, 246, 246);
	display: flex;
	padding: 0px 15px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 14%), 0px 0px 2px 2px rgb(0 0 0 / 10%), 0px 0px 5px 1px rgb(0 0 0 / 8%);
}

.popup .loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.popup .button {
	cursor: pointer;
}

.popup .button svg {
	fill: rgb(0 0 0);
	width: 28px;
	margin: 0px 15px;
}

.popupContainer {
	padding: 35px;
	display: flex;
	flex-direction: column;
}

.popup .spacer {
	margin: 10px 0px;
	border-bottom: 1px solid rgb(220,220,220);
}

.popup .label {
	font-size: 1.2em;
	margin-right: 80px;
}

.popupFormRow {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
}

.popupFormInput select {
	border: 0;
	border-bottom: 1px solid rgb(175 175 175);
	padding: 5px 20px 0px 20px;
	font-size: 1.4em;
	background-color: rgb(255,255,255);
	text-align: right;
}

.popupFormInput input[type=number] {
	border: 0;
	border-bottom: 1px solid rgb(175 175 175);
	font-size: 1.4em;
	width: 100px;
	text-align: right;
}

.popupFormInput select:focus-visible, .popupFormInput input[type=number]:focus-visible {
	outline: none;
}

.popup .viewPlayerTable {
	margin: 30px 0px;
	border-collapse: collapse;
}

.popup .viewPlayerTable td:first-child {
	text-align: left;
}

.popup .viewPlayerTable td:nth-child(n+1) {
	text-align: center;
}

.popup .viewPlayerTable tr:nth-child(2n) {
	background-color: rgb(224 224 224);
}

@media (min-width: 600px) {
	.scheduleContainer {
		max-width: 800px;
	}

	.confrenceContainer {
		flex-direction: row;
	}
}