.scheduleContainer {
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
}

.teamHeader {
	display: flex;
}

.scheduleTeam img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.scheduleSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gameHighlight {
	font-weight: bold;
	color: black;
}

.gameContainer {
	padding: 10px 20px;
	border: solid 1px rgb(224, 224, 224);
	border-collapse: collapse;
	cursor: pointer;
	margin: 10px;
	width: 320px;
	display: flex;
}

.scheduleTeams {
	border-right: solid 1px rgb(224, 224, 224);
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	flex: 60;
}

.scheduleDateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 40;
}

.scheduleTeam {
	display: flex;
	align-items: center;
}

.scheduleTeamName {
	margin: 0px 10px;
}

.teamStats {
	width: 95%;
	border-collapse: collapse;
}

.teamStats th {
	border-bottom: solid 1px rgb(224, 224, 224);
	font-weight: normal;
}

.teamStats th, .teamStats td {
	padding: 8px 5px;
}

.teamStats th:nth-child(2) {
	text-align: left;
}

.teamStats td:nth-child(1), .teamStats td:nth-child(n+3) {
	text-align: center;
}

.teamStats td {
	font-size: 0.85em;
}

.statsContainer {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 5;
}