.toolbar {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
	background: rgb(246, 246, 246);
	color: rgb(32, 32, 32);
	display: flex;
	align-items: center;
	width: 100%;
}

.toolbarHeader {
	flex: 1;
}

.toolbarButton {
	margin: 5px 10px;
	cursor: pointer;
}

.adminMenuContainer {
	position: relative;
	display: none;
}

.adminMenuContainer.active {
	display: block;
}

.adminMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 150px;
	left: -170px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
	background-color: white;
}

.adminMenuItem {
	padding: 15px 20px;
	font-size: 1.2em;
	border-bottom: 1px solid rgb(230,230,230);
	cursor: pointer;
}