.boxContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.box {
	border: solid 1px rgb(200,200,200);
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.10);
	width: 100px;
	height: 100px;
	margin: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(255 255 255);
}

.box.large {
	width: 100%;
	height: 100%;
	position: fixed;
}

.boxImage {
	box-shadow: 0px 1px 3px 2px rgb(0 0 0 / 10%);
	width: 40%;
	margin: 20px;
	cursor: pointer;
	display: flex;
}

.boxImage img {
	width: 100%;
}

.selectedDay {
	display: none;
	margin: 4px;
	position: absolute;
	top: 57px;
	left: 0px;
	background-color: white;
	flex-wrap: wrap;
	justify-content: space-evenly;
	clip-path: circle(0% at 0% 0%);
	transition: clip-path .8s ease-in-out;
}

.videoViewer {
	position: absolute;
	top: 57px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	display: none;
	flex-direction: column;
}
.videoViewer.active {
	display: flex;
}

.videoNav {
	display: flex;
	cursor: pointer;
}
.videoNav svg {
	width: 36px;
	fill: rgb(255, 255, 255);
}

.videoContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.videoViewer video {
	width: 100%;
}

.videoBox {
	position: fixed;
	border: 4px dashed rgb(193 27 27);
}

.videoActions {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.videoProgress {
	flex: 1;
}

.videoActionButton {
	width: 36px;
	fill: white;
	cursor: pointer;
}

.captureBar {
	position: absolute;
	height: 12px;
	width: 3px;
	background-color: red;
	display: none;
}
.captureBar.active {
	display: flex;
}
